@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
main{
  width: 310px;
}

header{
}
header summary{
  text-align: center;
  font-size: 2.5rem;
  font-family: 'roboto';
  color: #333;
  margin-top: 12px;
}

header img{
  max-width: 250px;
  display: block;
  margin: auto;
}

#profile{
  text-align: center;
  position: relative;
  bottom: 40px;
  padding: 5px;
  background: #333;
  color: #ccc;
  border-radius: 5px;
}

#oriki{
  padding: 0.8rem;
  line-height: 1.2rem;
  margin: 1rem;
}

#oriki summary{
  text-align: center;
  display: block;
  font-size: 1.7rem;
  padding: 12px 32px;
  text-transform: capitalize;
  color: #333;
  /* background: #333; */
  /* color: white; */
  /* opacity: 0.5; */
}
#oriki blockquote{
  padding: 1.2rem;
  text-transform: lowercase;
}

#oriki cite{
  margin-left: 1.2rem;
  padding: 0.4rem;
  white-space: nowrap;
  color: #5c4949;
}

section#add{
  margin: 1rem;
}

#add a{
  text-decoration: none;
}

#add button{
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
  background-color: #333;
  color: #f4f4f4;
  font-family: 'Lato';
  font-size: 1.2rem;
  border-radius: 5px;
  display: block;
  margin: auto;
  cursor: pointer;
}


/*  media quarries for big screens */

@media (min-width: 600px){
  main{
    width: 100%;

  }
  header{
    background: rgb(212, 192, 192);
    padding-top: 23px;
  }
  header summary{
    font-size: 3.5rem;
    color: #333;
    word-spacing: 1.2rem;
    display: none;
  }
  
  header img{
    max-width: 250px;
    display: block;
    margin: auto;
    border: 9px solid #333;
    border-radius: 50%;
    z-index: 99;
    position: relative;
    top: 19px;
  }
  
  #profile{
    border-radius: 0px;
    bottom: auto;
  }

  #profile .name{
    margin-top: 12px;
    font-size: 2rem;
    color: #f4f4f4;
    line-height: 3rem;
  }
  
  #profile .nickname{
    color: rgb(212, 192, 192);
    font-size: 1.5rem;
  }
  
  #oriki summary{
    font-size: 2.7rem;
    padding: 12px 32px;
    text-transform: capitalize;
    color: #333;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  #oriki #oriki-container{
    display: flex;
    gap:  7rem;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
  }
  #oriki blockquote{
    padding: 1.2rem;
    text-transform: lowercase;
    width: 300px;
    height: 200px;
  }

  #oriki article{
    /* display: flex; */
    /* flex-direction: column-reverse; */
  }
  
  #oriki cite{
    margin-left: 1.2rem;
    padding: 0.4rem;
    white-space: nowrap;
    color: #5c4949;
  }
  
  section#add{
    margin: 1rem;
  }
  
  #add a{
    text-decoration: none;
  }
  
  #add button{
    outline: none;
    background-color: #333;
    color: #f4f4f4;
    font-family: 'Lato';
    font-size: 1.2rem;
    border-radius: 5px;
    display: block;
    margin-top: 30px;
    cursor: pointer;
  }
  
  
}


@media (max-width: 691px){
  #oriki #oriki-container{
    flex-direction: column;
    gap: 1rem;
  }
  #oriki blockquote{
    height: auto;
  }
}